     /*  show or hide model */
    .display-block {
      display: block;
      background-color:rgb(51, 51 , 51, 0.7);
      padding-bottom: 50px;;
    }
    
    .display-none {
      display: none;
      /* background-color: white; */
    }

#Photos {
  position: static;
  overflow: scroll;
}
div#Photos { 
  order: 1;
}

#Info {
  position: relative;
  top: 550px;
  left : 23%;
}
div#Info { 
  order: 2;
}

#Dishes {
  position: relative;
  top: 600px;
  left: 20%;
}
div#Dishes { 
  order: 3;
}

#Reviews {
  position: relative;
  top: 800px;
  left: 20%;
}
div#Reviews { 
  order: 4;
}
  
  /*  show or hide model */
.display-block {
    display: block;
    background-color:rgb(51, 51 , 51, 0.7);
    padding-bottom: 50px;;
  }
  
.display-none {
    display: none;
  }

/* reviews component */
body {
width: 924px;
}
>>>>>>> ff7a085aee86ba62695a9531c2aaec43265ea17d

.tag-blank {
color: #666;
fill: #666;
background: #fff;
border: 1px solid #ccc;
background-image: none;
display: inline-block;
vertical-align: middle;
margin: 0;
cursor: pointer;
font-weight: 700;
text-align: center;
border-radius: 3px;
margin-right: 6px;
outline: none;
}

.tag-filled {
color: #fff;
fill: #fff;
background: #0097ec;
border: 1px solid #0097ec;
display: inline-block;
vertical-align: middle;
margin: 0;
cursor: pointer;
font-weight: 700;
text-align: center;
border-radius: 3px;
margin-right: 6px;
outline: none;
}

.star-rating-1 {
fill: khaki;
}

.star-rating-2 {
fill: gold;
}

.star-rating-3 {
fill: darkorange;
}

.star-rating-4 {
fill: orangered;
}

.star-rating-5 {
fill: #d32323;
}

.star-rating-blank {
fill: #d8d8d8;
}

/* restaurant info component */

.modal_content {
z-index: 1;
background-color: white;
position: fixed;
top: 5%;
left: 23%;
width: 50%;
height: 85%;
padding: 20px;
border-radius: 5px;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.modal_content_details {
z-index: 1;
background-color: white;
position: absolute;
top: 5%;
left: 23%;
width: 50%;
height: 87%;
padding: 20px;
border-radius: 5px;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.modal_content-review{
z-index: 1;
border-radius: 5px;
background-color: white;
position: absolute;
top: 15%;
left: 23%;
width: 40%;
height: 50%;
padding: 20px;
border-radius: 5px;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h1{
  position:relative;
  margin-bottom: 4%;
  margin-top: 0%;
  margin-left: 5%;
  color: blue;
}
.x-button{
width:3%;
margin-left: 95%;
}

#comment{
margin-top: 0.5%;
margin-bottom: 1%;
border-color: gray;
border-radius: 5px;
font-size: 18px;
margin-left: 5%;  
width: 85%;
height: 60%;
}

#commentSubmit{
margin-top:2%;
margin-left:5%;
font-size: 15px;
width:160px;
height:32px;
background-color: #d32323;
color: white;
border-radius: 5px;
}



.barChart {
height: 30px;
margin-bottom: 10px;
background: linear-gradient(to left, #4cb8c4, #3cd3ad);
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.chartLabel {
padding-left: 10px;
line-height: 30px;
color: white;
}


.Write-Review-Star {
margin-left: 5%;
margin-top: -2%;
margin-bottom: 1%;
}

.Stars-Reviews{
margin-bottom: 2%;
position: relative; 
}

.Restaurant-Title {
font-size: 30px;
font-weight: bold;
}

/* .Details-ReviewCount{
position: absolute;
top: 12%;
font-size: 18px;
color: grey;
}   */

.chart{
margin-top:10px;
margin-left: -10px;
width: 95%;
margin-bottom: 5px;
}

.Chart-Button-Box{
margin-left: 75%;
}

.Chart-Button {
font-size:17px;
margin-left: 6px;
border:none;
margin-bottom: -5px;
}

.Chart-Button:hover {
font-weight: bold;
}
.Restaurant-Rating{
position: relative;
margin-top: 1%;
display: inline-block;
}  

.BarBox{
color:black
}

.Review-Count-Details-Button{
color:grey;
position: fixed;
margin-top: 1.25%;
}

.Details-ReviewCount{
margin-bottom:0.5%;
}

.icon_svg_unclaim{
fill: inherit;
left: 0;
top: 0;
right: 0;
bottom: 0;
fill:#d8d8d8
}

.icon_svg_claim{
fill: inherit;
left: 0;
top: 0;
right: 0;
bottom: 0;
fill:#0073da 
}

.ClaimStatus{
margin-left: 4px;
margin-top: 11px;
position: absolute;
}


.review-button-info{
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 13px;
width : 130px;
text-align: center;
height: 30px;
font-weight: bold;
vertical-align: center;
color:#d32323;
background-color: white !important;
background-size: contain;
box-shadow: none;
border-radius: 3px;
}

.photo-button-info{
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 13px;
width : 110px;
text-align: center;
height: 30px;
font-weight: bold;
color:#666;
background-color: white !important;
background-size: contain;
opacity: 0.7;
box-shadow: none;
border-radius: 3px;
}

.share-button-info{
position: relative;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 13px;
width : 80px;
text-align: center;
height: 30px;
font-weight: bold;
vertical-align: center;
color:#666;
background-color: white;
opacity: 0.7;
box-shadow: none;
border-radius: 3px;
}

.save-button-info{
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 13px;
width : 70px;
text-align: center;
height: 30px;
font-weight: bold;
vertical-align: center;
color:#666;
background-color: white !important;
background-size: contain;
opacity: 0.7;
box-shadow: none;
border-radius: 3px;
}

.follow-button-info{
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 13px;
width : 75px;
text-align: center;
height: 30px;
font-weight: bold;
vertical-align: center;
color:#666;
background-color: white !important;
background-size: contain;
opacity: 0.7;
box-shadow: none;
border-radius: 3px;
margin-left: 17px;
}


.details-button-info{
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 13px;
width : 75px;
text-align: center;
height: 25px;
font-weight: bold;
vertical-align: center;
color:#666;
background-color: white !important;
background-size: contain;
opacity: 0.7;
box-shadow: none;
border-radius: 3px;
}

/* icon in the restaurantinto page */

.icon_svg_star{
position: relative;
fill:#d32323;
margin-left: -5px;
text-align: center;
vertical-align: center;
}

.icon_svg_save{
position: relative;
fill:#797979;
text-align: center;
vertical-align: center;
}

.icon_svg_share{
position: relative;
fill:#797979;
text-align: center;
vertical-align: center;
}

.icon_svg_camera{
position: relative;
fill:gray;
text-align: center;
vertical-align: center;
}

.icon_svg_bar{
position: relative;
fill:gray;
text-align: center;
vertical-align: center;
}

.icon_svg_plus{
position: relative;
fill:gray;
text-align: center;
vertical-align: center;
}

.review-info-text{
position: relative;
margin-left: 1px;
margin-top: -8px;
color:#d32323
}


.photo-info-text{
position: relative;
margin-left: 4px;
margin-top: -8px;
}

.share-info-text{
position: relative;
margin-left: 4px;
margin-top: -8px;
}

.overall-rating{
font-weight: bold;
margin-bottom: 1%;
}


.Bar-Box{
margin-bottom: 1%;
}

.line-graph-title{
margin-left: 2%;
font-weight: bold;
}

.price-category{
margin-bottom: 1%;
}